@model IEnumerable<CLEANSHOP.Models.Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Thông Tin Sản Phẩm</h2>

<p>

    @Html.ActionLink("Tạo mới sản phẩm", "Create")
</p>
<table class="table">
    <tr>
        <th> Mã loại </th>
        <th> Tên sách</th>
        <th> Hình </th>
        <th> Giá bán</th>
        <th> Giá giảm</th>
        <th> Văn mẫu </th>
        <th> Mô tả </th>
        <th> Số lượng tồn</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
            <td><img src="@item.Image" alt="hinh thumbnail " style="width:25%;height:25%; object-fit:cover;" /></td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.DisPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.Text)</td>
            <td>@Html.DisplayFor(modelItem => item.Detail)</td>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            <td>
                | @Html.ActionLink("Chỉnh sửa ", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Chi tiết", "Detail", new { id = item.Id }) |
                @Html.ActionLink("Cập nhật", "Delete", new { id = item.Id })      |
            </td>
        </tr>

    }
</table>
<style>
    body {
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,250,250,1) 34%);
        padding-top: 100px;
        padding-bottom: 20px;
    }
</style>
